/* Remitone Calculator Overrides */
#remitone-calculator {
  padding: 10px 20px 40px
}

#remitone-calculator label {
  top: 6px;
  left: 12px;
}

#remitone-calculator .fees_charge_promo_applied_rate_section {
  margin: 15px 0;
}

#remitone-calculator .source_amount, 
#remitone-calculator .destination_amount {
  padding-top: 35px;
}

#remitone-calculator .source_amount_currency_section button.btn {
  padding-top: 27px;
  padding-bottom: 26px;
  padding-left: 12px;
  font-size: 22px;
}

#remitone-calculator .destination_amount_currency_section button.btn {
  border-bottom-right-radius: 4px;
  padding-top: 26px;
  padding-bottom: 26px;
  font-size: 22px;
  padding-left: 12px;
}

#remitone-calculator .btn-default {
  border-radius: 0 4px 0 0;
}


#remitone-calculator .btn span { 
  left: 5px;
}

@media screen and (min-width: 992px) {
  #remitone-calculator .btn:first-of-type { 
    margin-right: unset;
  }
}